Non-Ferrous Metals Trade System/SiteUtility/Web References/PassPort.User/UserService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NFMT.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NFMT.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffectCount" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultModel" nillable="true" type="tns:ResultModel" />
</xs:schema>